# Ignore Python cache and temporary files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
.env/
.venv/
env/
venv/

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
